

// --------------------------------
// TaskPopup関連
// --------------------------------


.task_popup_detail_vbox{
	-fx-background-color:#ffffff;
	-fx-border-color:#a0a0a0;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-padding: 5px;
}
.task_popup_project_name_label{
	-fx-background-color: #e6f0ff;
}
.task_popup_project_detail_label{
	-fx-alignment:top-left;
}
.task_popup_period_hbox{

}
.task_popup_start_at_label{
	-fx-background-color:#a2f0c9;
	-fx-border-color:#a2e0d9;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-pref-width:80px;
	-fx-alignment: center;

}
.task_popup_finish_at_label{
	-fx-background-color:#a2f0c9;
	-fx-border-color:#a2e0d9;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-pref-width:80px;
	-fx-alignment: center;
}
.task_popup_hbox_for_create{

}
.task_popup_created_at_label{

}
.task_popup_created_by_label{

}
.task_popup_hbox_for_change{

}
.task_popup_changed_at_label{

}
.task_popup_changed_by_label{

}


// --------------------------------
// AttributePrimitiveView関連
// --------------------------------
.attribute_primitive_view_attribute_label{
	-fx-alignment: center-left;
	-fx-padding: 3px;
}





// --------------------------------
// カレンダー移動関連
// --------------------------------
.back_week_button{
	-fx-padding: 0;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}

.back_day_button{
	-fx-padding: 0;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}

.forward_week_button{
	-fx-padding: 0;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}

.forward_day_button{
	-fx-padding: 0;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}




.select_year_box>.combo-box-popup .list-view {
	-fx-border-color:#0000ff;
	-fx-background-color:#a0fff0;
}

.select_year_box>.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #d6eaff;
}
.select_year_box>.combo-box-popup .list-view .list-cell:selected
{
    -fx-background-color: #90b7ff;
}

.combo-box-base.select_year_box {
	-fx-background-color: #a0e4ff;
	-fx-border-color: #80b4ff;
}



.select_month_box{

}

.select_day_box{

}

// --------------------------------
// 案件登録用
// --------------------------------
.project_edit_output_label{
	-fx-alignment: center-left;
	-fx-pref-height: 35;
	-fx-pref-width: 130;
}

.project_edit_title{
	-fx-alignment: center-left;
	-fx-pref-height: 35;
	-fx-pref-width: 130;
	-fx-padding: 5 5 5 12;
}

.project_edit_font{
	-fx-font-size: 16px;
	-fx-text-fill: #002080;
}


.project_edit_input_basic{
	-fx-border-insets: 10 10 5 0;
	-fx-background-insets: 10 10 5 0;
	-fx-border-color:#a050ff;
	-fx-background-color: #fbf4ff;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}

.project_edit_input_basic .content{
	-fx-background-color: #fbf4ff;
}

.project_edit_input_textarea{
	-fx-pref-height: 220;
	-fx-pref-width: 820;
}

.project_edit_input_textfield{
	-fx-pref-height: 38;
	-fx-pref-width: 820;
}


.project_edit_button_base{
	-fx-pref-height: 40;
	-fx-pref-width: 85;
	-fx-font-size: 20px;
}

.project_edit_button_regist:hover{
	-fx-background-color: #ffe3e3;
}

.project_edit_button_regist{
	-fx-background-color: #ffe8e8;
	-fx-text-fill: #a00000;
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.project_edit_button_clear:hover{
	-fx-background-color: #e3e3ff;
}

.project_edit_button_clear{
	-fx-background-color: #e8e8ff;
	-fx-text-fill: #0000a0;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


.project_edit_attribute_selection{
	-fx-pref-width: 270;
	-fx-background-insets: 5;
	-fx-border-insets: 5;
}

.project_edit_attribute_selection>.combo-box-popup.list-view {
	-fx-border-color:#0000ff;
	-fx-background-color:#a0fff0;
}

.project_edit_attribute_selection>.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #d6eaff;
}
.project_edit_attribute_selection>.combo-box-popup .list-view .list-cell:selected
{
    -fx-background-color: #90b7ff;
}

.combo-box-base.project_edit_attribute_selection {
	-fx-background-color: #a0e4ff;
	-fx-border-color: #80b4ff;
}




// --------------------------------
// 案件詳細用
// --------------------------------


.project_detail_output_basic{

	-fx-background-color: #fbfffb;
	-fx-padding: 5 12 5 12;
	-fx-background-insets: 5;
	-fx-border-insets: 5;

}


.project_detail_output_label{
	-fx-alignment: center-left;
	-fx-pref-width: 820;
	-fx-pref-height: 45;
}

.project_detail_output_area{
	-fx-alignment: top-left;
	-fx-pref-width: 820;
	-fx-pref-height: 200;
}
}

.project_detail_font{
	-fx-font-size: 17px;
	-fx-text-fill: #004080;

}

.project_detail_title{
	-fx-pref-width: 100;
	-fx-pref-height: 45;
	-fx-padding: 5 5 5 12;
	-fx-alignment: center-left;
}

.project_detail_button_edit:hover{
	-fx-background-color:#00aa00
}

.project_detail_button_edit{
	-fx-background-color: #00a000;
	-fx-text-fill: #e8ffe8;
	-fx-font-weight: bold;
	-fx-font-size: 22;
	-fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,2 );
}

