

// --------------------------------
// TaskPopup関連
// --------------------------------


.task_popup_detail_vbox{
	-fx-background-color:#ffffff;
	-fx-border-color:#a0a0a0;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-padding: 5px;
}
.task_popup_project_name_label{
	-fx-background-color: #e6f0ff;
}
.task_popup_project_detail_label{
	-fx-alignment:top-left;
}
.task_popup_period_hbox{

}
.task_popup_start_at_label{
	-fx-background-color:#a2f0c9;
	-fx-border-color:#a2e0d9;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-pref-width:80px;
	-fx-alignment: center;

}
.task_popup_finish_at_label{
	-fx-background-color:#a2f0c9;
	-fx-border-color:#a2e0d9;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
	-fx-pref-width:80px;
	-fx-alignment: center;
}
.task_popup_hbox_for_create{

}
.task_popup_created_at_label{

}
.task_popup_created_by_label{

}
.task_popup_hbox_for_change{

}
.task_popup_changed_at_label{

}
.task_popup_changed_by_label{

}


// --------------------------------
// AttributePrimitiveView関連
// --------------------------------
.attribute_primitive_view_attribute_label{
	-fx-alignment: center-left;
	-fx-padding: 3px;
}





// --------------------------------
// カレンダー移動関連
// --------------------------------
.back_week_button{
	-fx-padding: 0;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}

.back_day_button{
	-fx-padding: 0;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}

.forward_week_button{
	-fx-padding: 0;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}

.forward_day_button{
	-fx-padding: 0;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}




.select_year_box>.combo-box-popup .list-view {
	-fx-border-color:#0000ff;
	-fx-background-color:#a0fff0;
}

.select_year_box>.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: #d6eaff;
}
.select_year_box>.combo-box-popup .list-view .list-cell:selected
{
    -fx-background-color: #90b7ff;
}

.combo-box-base.select_year_box {
	-fx-background-color: #a0e4ff;
	-fx-border-color: #80b4ff;
}



.select_month_box{

}

.select_day_box{

}


// --------------------------------
//　テスト用
// --------------------------------
.test_text_area{
	-fx-border-insets: 10 10 5 0;
	-fx-background-insets: 10 10 5 0;
	-fx-border-color:#a050ff;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
}

.test_text_area .content{
	-fx-background-color: #fbf4ff;
}
.test_text_field{
	-fx-border-insets: 10 10 5 0;
	-fx-background-insets: 10 10 5 0;
	-fx-border-color:#a050ff;
	-fx-background-color: #fbf4ff;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;

}

